version: '3'

services:
 database:
   image: mysql:latest
   container_name: mysql-container
   environment:
     MYSQL_ROOT_PASSWORD: root
     MYSQL_DATABASE: 3M
     MYSQL_USER: medo_3m
     MYSQL_PASSWORD: medo
   ports:
     - 3306:3306
   volumes:
     - mysql_data:/var/lib/mysql

volumes:
 mysql_data: